<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/sshd</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
	<property name="hibernate.transaction.flush_before_completion">true</property>
	<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="current_session_context_class">thread</property>
		<mapping resource="com/sshd/model/Teacher.hbm.xml" />
		<mapping resource="com/sshd/model/TeacherCourse.hbm.xml" />
		<mapping resource="com/sshd/model/Course.hbm.xml" />
		<mapping resource="com/sshd/model/Student.hbm.xml" />
		<mapping resource="com/sshd/model/StuCourse.hbm.xml" />
		<mapping resource="com/sshd/model/UserLogin.hbm.xml" />

	</session-factory>
</hibernate-configuration>  